/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .top-header .info-inner {
	    display: block;
	    margin: 0px;
	    text-align: center;
  }
  .top-header .social-icons { 
	    display: block;
	    margin: 0px;
	    text-align: center;
  } 
  .header-section .bg-light {
	    width: 100%;
	    padding: 25px 5px;
	    background: #fff !important;
	}
	.search{
		margin-left: 25px
	}
	.slider .carousel-caption1 {
	    position: absolute;
	    right: 15%;
	    bottom: 15%;
	    left: 15%;
	    z-index: 10;
	    padding-top: 146px;
	    padding-bottom: 20px;
	    color: #fff;
	    text-align: center;
	    margin-top: 4px;
	}
	.slider .carousel-caption1 h2 {
	    font-size: 16px;
	    font-weight: 700;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    color: #fff;
	    margin: 3px;
	}
	.slider .carousel-caption1 p {
	    font-size: 5px;
	    line-height: 9px;
	    margin: 1px;
	}
	.slider .btn-info {
	    font-size: 5px;
	    text-transform: uppercase;
	    padding: 4px 10px;
	    color: #fff;
	    background: #00bc9c;
	    border: 1px solid #00bc9c;
	    border-radius: 2px;
	}
	.who-we-are .title {
   	 padding: 30px 0px;
    	text-align: center;
	}
	.who-we-are .title h3 {
    	font-size: 22px;
    	line-height: 32px;
    	color: #506a85;
	}
	.who-we-are .title p {
	    font-size: 14px;
	    line-height: 24px;
	    color: #9ca9b7;
	}
	.who-we-are .media {
	    width: 100%;
	    padding: 0px 0px 20px;
	}
	.who-we-are .media p {
	    font-size: 12px;
	    line-height: 20px;
	    color: #9ca9b7;
	}
	.works {
	    width: 100%;
	    padding: 35px 0px;
	    background: #f2f5f7;
	}
	.works .title h3 {
	    font-size: 22px;
	    line-height: 32px;
	    color: #506a85;
	}
	.works .title p {
	    font-size: 14px;
	    line-height: 24px;
	    color: #9ca9b7;
	    padding-bottom: 12px;
	}
	.works .card {
	    width: 100%;
	    margin-bottom: 20px;
	}
	.works .card .card-title {
	    font-size: 14px;
	    line-height: 28px;
	    color: #506a85;
	    margin-bottom: 0px;
	}
	.works .owl-carousel {
	    width: 100%;
	    padding-top: 25px;
	}
	.get-in-touch {
	    width: 100%;
	    padding: 30px 0px;
	}
	.get-in-touch .title h2 {
	    font-size: 22px;
	    line-height: 32px;
	    color: #506a85;
	    padding-top: 10px;
	}
	.get-in-touch .title p {
	    font-size: 14px;
	    line-height: 25px;
	    color: #9ca9b7;
	    padding: 5px 0px;
	}
	.get-in-touch .title .btn-info {
    	font-size: 10px; 
	}
	.footer-section {
	    width: 100%;
	    background: #2f4052;
	    padding: 5px 0px;
	}
	.footer-section .widget {
	    width: 100%;
	    text-align: center;
	}
	.footer-section .widget h4 {
	    font-size: 20px;
	    line-height: 30px;
	    font-weight: 700;
	    text-transform: capitalize;
	    color: #fff;
	    padding: 20px 0px 15px;
	    margin: 0px;
	}
	.footer-section .widget p {
	    font-size: 14px;
	    line-height: 24px;
	    color: #9caab9;
	    margin-top: 10px;
	    margin-bottom: 5px;
	}
	.footer-section .widget .card { 
    	margin: 0px 5px 15px 0px;
	}
	.footer-section .widget .btn-primary {
	    font-size: 14px;
	    color: #fff;
	    background-color: #00bc9c;
	    border-color: #00bc9c;
	    padding: 3px 15px;
	    position: absolute;
	    right: 6%;
	    bottom: -3%;
	}
	.footer-below {
	    background: #283645;
	    padding: 30px 0px 70px;
	    position: relative;
	}
	.footer-below p {
	    font-size: 14px;
	    line-height: 24px;
	    font-weight: 600;
	    color: #9caab9;
	    margin: 0px !important;
	    text-align: center;
	}
	.footer-below .btn {
	    background: #3c5065;
	    color: #879099;
	    font-size: 16px;
	    font-weight: 700;
	    border: 1px solid #3c5065;
	    position: absolute;
	    bottom: 12%;
	    right: 45%;
	}
	.footer-below .footer-list-items ul {
	    margin: 0px !important;
	    text-align: center;
	}
	

}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .top-header .info-inner {
	    display: block;
	    margin: 0px;
	    text-align: center;
  }
  .top-header .social-icons { 
	    display: block;
	    margin: 0px;
	    text-align: center;
  } 
  .header-section .bg-light {
	    width: 100%;
	    padding: 25px 5px;
	    background: #fff !important;
	}
	.search{
		margin-left: 25px
	}
	.slider .carousel-caption1 {
	    position: absolute;
	    right: 15%;
	    bottom: 25%;
	    left: 15%;
	    z-index: 10;
	    padding-top: 146px;
	    padding-bottom: 20px;
	    color: #fff;
	    text-align: center;
	    margin-top: 4px;
	}
	.slider .carousel-caption1 h2 {
	    font-size: 19px;
	    font-weight: 700;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    color: #fff;
	    margin: 8px;
	}
	.slider .carousel-caption1 p {
	    font-size: 7px;
	    line-height: 9px;
	    margin: 10px;
	}
	.slider .btn-info {
	    font-size: 7px;
	    text-transform: uppercase;
	    padding: 6px 14px;
	    color: #fff;
	    background: #00bc9c;
	    border: 1px solid #00bc9c;
	    border-radius: 2px;
	}
	.who-we-are .title {
   	 padding: 30px 0px;
    	text-align: center;
	}
	.who-we-are .title h3 {
    	font-size: 22px;
    	line-height: 32px;
    	color: #506a85;
	}
	.who-we-are .title p {
	    font-size: 12px;
	    line-height: 24px;
	    color: #9ca9b7;
	}
	.who-we-are .media {
	    width: 100%;
	    padding: 0px 0px 20px;
	}
	.who-we-are .media p {
	    font-size: 12px;
	    line-height: 20px;
	    color: #9ca9b7;
	}
	.works {
	    width: 100%;
	    padding: 35px 0px;
	    background: #f2f5f7;
	}
	.works .title h3 {
	    font-size: 22px;
	    line-height: 32px;
	    color: #506a85;
	}
	.works .title p {
	    font-size: 14px;
	    line-height: 24px;
	    color: #9ca9b7;
	    padding-bottom: 12px;
	}
	.works .card {
	    width: 100%;
	    margin-bottom: 20px;
	}
	.works .card .card-title {
	    font-size: 14px;
	    line-height: 28px;
	    color: #506a85;
	    margin-bottom: 0px;
	}
	.works .owl-carousel {
	    width: 100%;
	    padding-top: 25px;
	}
	.get-in-touch {
	    width: 100%;
	    padding: 30px 0px;
	}
	.get-in-touch .title h2 {
	    font-size: 22px;
	    line-height: 32px;
	    color: #506a85;
	    padding-top: 10px;
	}
	.get-in-touch .title p {
	    font-size: 12px;
	    line-height: 25px;
	    color: #9ca9b7;
	    padding: 5px 0px;
	}
	.get-in-touch .title .btn-info {
    	font-size: 10px; 
	}
	.footer-section {
	    width: 100%;
	    background: #2f4052;
	    padding: 5px 0px;
	}
	.footer-section .widget {
	    width: 100%;
	    text-align: center;
	}
	.footer-section .widget h4 {
	    font-size: 20px;
	    line-height: 30px;
	    font-weight: 700;
	    text-transform: capitalize;
	    color: #fff;
	    padding: 20px 0px 15px;
	    margin: 0px;
	}
	.footer-section .widget p {
	    font-size: 12px;
	    line-height: 24px;
	    color: #9caab9;
	    margin-top: 10px;
	    margin-bottom: 5px;
	}
	.footer-section .widget .card { 
    	margin: 0px 5px 15px 0px;
	}
	.footer-section .widget .btn-primary {
	    font-size: 14px;
	    color: #fff;
	    background-color: #00bc9c;
	    border-color: #00bc9c;
	    padding: 3px 20px;
	    position: absolute;
	    right: 4%;
	    bottom: -3%;
	}
	.footer-below {
	    background: #283645;
	    padding: 30px 0px 70px;
	    position: relative;
	}
	.footer-below p {
	    font-size: 14px;
	    line-height: 24px;
	    font-weight: 600;
	    color: #9caab9;
	    margin: 0px !important;
	    text-align: center;
	}
	.footer-below .btn {
	    background: #3c5065;
	    color: #879099;
	    font-size: 16px;
	    font-weight: 700;
	    border: 1px solid #3c5065;
	    position: absolute;
	    bottom: 12%;
	    right: 45%;
	}
	.footer-below .footer-list-items ul {
	    margin: 0px !important;
	    text-align: center;
	}
   
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  	.slider .carousel-caption1 {
	    position: absolute;
	    right: 15%;
	    bottom: 37%;
	    left: 15%;
	    z-index: 10;
	    padding-top: 146px;
	    padding-bottom: 20px;
	    color: #fff;
	    text-align: center;
	    margin-top: 4px;
	}
	.slider .carousel-caption1 h2 {
	    font-size: 39px;
	    font-weight: 700;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    color: #fff;
	    margin: 3px;
	}
	.slider .carousel-caption1 p {
	    font-size: 13px;
	    line-height: 22px;
	    margin: 0px 0px 26px;
	}
	.slider .btn-info {
	    font-size: 9px;
	    text-transform: uppercase;
	    padding: 8px 24px;
	    color: #fff;
	    background: #00bc9c;
	    border: 1px solid #00bc9c;
	    border-radius: 2px;
	}
  .who-we-are .media p {
	    font-size: 12px;
	    line-height: 22px;
	    color: #9ca9b7;
	}
	.footer-section .widget .btn-primary {
    font-size: 14px;
    color: #fff;
    background-color: #00bc9c;
    border-color: #00bc9c;
    padding: 3px 15px;
    position: absolute;
    right: 10%;
    bottom: 34%;
	}
}

 


